:root {
  --rh-accent-color: #FFD500;
  --rh-accent-color-lighten: #FFD500;
  --rh-accent-color-darken: #FFD500;
  --rh-green-color: #005BBB;
  --rh-grey-c8: #c8c8c8;
  --rh-grey-d8: #d8d8d8;
  --rh-dark-grey: #54595f;
  --rh-light-grey: #ececec;
  --rh-black: #222;
  --rh-grey-text: #7a7a7a;
  --rh-light-grey-text: #bcbcbc;
  --scrollbar-width: 8px;
  --zen-padding: calc((100vw - var(--scrollbar-width)) / 20);
  --rh-box-shadow: 6px 4px 10px rgb(0 0 0 / 10%);
  --font-size-1-125: 1.125rem;
  --font-size-1-2: 1.2rem;
  --font-size-1-5: 1.5rem;
  --font-size-1-18: 1.18rem;
  --border-radius: 8px;
}

.pricing {
  padding-inline: calc((100vw - var(--scrollbar-width)) / 30);
  text-align: center;
  position: relative;
  overflow: hidden;
}
.pricing .pricing-switch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(11px, 5vw, 24px);
  font-weight: 700;
  margin-bottom: 40px;
}
.pricing-switch-bg {
  position: absolute;
  top: 4px;
  left: calc(50% - 602px / 2);
  width: 602px;
  height: 55px;
  z-index: -1;
  border-radius: 50px;
  background: #F2F2F2;
}
.pricing .pricing-switch span {
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 133.4%;
  text-align: center;
  transition: color 0.5s ease;
  color: #C4C4C4;
}
.pricing .pricing-switch span.active {
  color: #FFA100;
}
.pricing .pricing-switch .switch {
  position: relative;
  appearance: none;
  background-color: var(--rh-accent-color);
  border-radius: 1.8rem;
  box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  height: 20px;
  min-width: 48px;
  cursor: pointer;
  outline: 0;
  transition: 0.3s ease;
}
.pricing .pricing-switch .switch:checked {
  background-color: grey;
}
.pricing .pricing-switch .switch:before {
  content: "";
  background-color: white;
  border-radius: 1.8rem;
  box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  transform: scale(1.1);
  transition: 0.5s ease;
}
.pricing .pricing-switch .switch:checked:before {
  left: 28px;
}
.pricing .switch-desc {
  display: none;
  transition: display 0.3s ease;
}
.pricing .switch-desc p {
  margin: auto;
  width: 50%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 133.4%;
  text-align: center;
}
.pricing .switch-desc.active {
  display: block;
}

.pricing-description {
  width: 455px;
  display: flex;
  margin: 0 auto 25px;
  justify-content: center;
}
.pricing-description-column {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing-description-column:not(:last-child) {
  margin-right: 20px;
}
.pricing-description-svg {
  margin-right: 6px;
}

.pricing .pricing-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid; */
  padding-top: 5rem;
  max-width: 1176px;
  margin: 0 auto;
}
.pricing .pricing-cards .card {
  border-radius: 1rem;
  box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.3);
  /* width: min(100%); */
  width: 348px; /* Set the width of each column to half of the container minus the margins */
  height: 521px;
  margin: 0 22px 90px;
}
.card-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: -28px;
}
.card-picture {
  width: 100px;
  height: 100px;
  position: relative;
  top: -59px;
  left: calc(348px / 2 - 100px / 2);
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-label {
  position: relative;
  top: 0;
  left: 102px;
}
.card-label-label {
  position: relative;
  top: 50px;
  left: 10px;
}
.card-label-text {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #FFF;
  position: relative;
  top: 20px;
  right: 35px;
  /* z-index: 1000; */
  transform: rotate(42.5deg); 
}
.pricing .pricing-cards h3 {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  color: #5A5A5A;
  font-size: 32px;
  margin: 0 0 10px;
}
.pricing .pricing-cards .card-props {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: max-content;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.pricing .pricing-cards .card-props li {
  font-size: 16px;
  color: #54595F;
  font-weight: 500;
}
.pricing .pricing-cards .card-props .card-price {
  color: #005BBB;
  font-weight: 700;
  font-family: 'Montserrat';
  font-size: 38px;
  line-height: 120%;
}
.pricing .pricing-cards .card-props .card-price-per-hour{
  color: #5A5A5A;
  font-size: 14px;
  font-weight: 300;
  font-size: 24px;
  line-height: 140%;
}
.pricing .pricing-cards .card-props .card-price sup {
  /* font-size: 2.25rem; */
  top: 0;
}

.pricing .outstaffing__content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0 auto 100px;
}

.pricing .outstaffing__card {
  width: 487px;
  height: 295px;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  background-color: #fff;
  padding: 36px 29px;
}

.pricing .outstaffing__card-top {
  display: flex;
  align-items: center;
  margin-bottom: 46px;
}

.pricing .outstaffing__img {
  width: 80px;
  height: 80px;
  margin-right: 24px;
}

.pricing .outstaffing__text {
  max-width: 280px;
  font-size: 24px;
  line-height: 120%;
  color: var(--rh-green-color);
  font-weight: 500;
  text-align: start;
  margin: 0;
}

.pricing .outstaffing__description {
  text-align: left;
  font-size: 16px;
  line-height: 150%;
  width: 380px;
  color: #5a5a5a;
}

.subcat{
  height: 128px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align-last: left;
  margin: 0 auto;
}
.subcat li{
 padding: 0.25rem;
 position: relative;
 width: max-content;
 margin-left: 20px;
}
.subcat li::before{
  content: '';
  position: absolute;
  left: -18px;
  top: 11.5px;
  width: 7.07px;
  height: 7.07px;
  background: #FFDA1D;
  transform: rotate(-45deg);
}
.card {
  position: relative;
  z-index: 1;
}
.card-logo {
  width: 75px;
  height: auto;
}
.card-button {
  margin: 0 auto;
  margin-top: 50px;
  width: 282px;
  height: 48px;
  display: block;
  justify-self: flex-end;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  font-weight: 700;
  color: #fff;
  background: linear-gradient(90.44deg, #536DFE 0.5%, #005BBB 100.05%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.card-button:hover {
  cursor: pointer;
  color: #005BBB;
  background: #F1C40F;
}
.pricing .pricing-cards .card-props .subprice {
  margin-bottom: 40px;
}
.pricing .pricing-cards .card-props subprice li{
  padding: 0;
}
.pricing h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.pricing .form_title {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.pricing .offer-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10vw;
  align-items: center;
}
.pricing .offer-cards .card {
  position: relative;
  border-radius: 1rem;
  box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  width: min(100%, 325px);
}
.pricing .offer-cards .card h3 {
  font-size: 1.5rem;
  margin-block: 0 1.5rem;
}
.pricing .offer-cards .card .price {
  font-size: 3rem;
  font-weight: 700;
}
.pricing .offer-cards .card.center {
  background-color: var(--rh-accent-color);
  color: white;
  transform: scale(1.1);
}
.pricing .offer-cards .card.center button {
  background-color: white;
  color: var(--rh-accent-color);
}
.pricing .offer-cards .card.center button:hover {
  background-color: #61ce70;
  color: white;
}
.pricing .offer-cards .card-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.75rem;
  line-height: 1.3;
}
.pricing .offer-cards button {
  background-color: var(--rh-accent-color);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0.8em 2em;
  margin-top: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.pricing .offer-cards button:hover {
  background-color: #61ce70;
}
.pricing table {
  border-collapse: collapse;
}
.pricing table tr {
  border-bottom: 1px solid #444444;
}
.pricing table tr > th {
  font-size: clamp(0.875rem, 3vw, 1rem);
  font-weight: 400;
  padding-block: 1rem;
}
.pricing table td {
  padding-block: 1rem;
}
.pricing table th:first-child,
.pricing table td:first-child {
  font-size: clamp(0.875rem, 4vw, 1rem);
  font-weight: 600;
  text-align: left;
}
.pricing table th.table-header {
  font-size: clamp(1rem, 4vw, 1.5rem);
  font-weight: 700;
}
.pricing table .plus,
.pricing table .minus {
  font-weight: 700;
  text-align: center;
  font-size: 1.375rem;
}
.pricing table .plus {
  background-color: #F5F5F5;
  color: #61ce70;
}
.pricing table .minus {
  color: var(--rh-accent-color);
}
.pricing_main_title{
  margin: 110px 0 16px;
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 66px;
  text-align: center;
  color: #54595F;
}
.pricing_main_subtitle{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #54595F;
  margin-bottom: 30px;
}
.main-menu #menu-item-1460 > a{
  background-color: #005bbb;
}
.accordion-header .question_title{
  text-align: left;
}
.pricing .backgroundaqua-pr{
  left: 10%;
  top: 33%;
  border-radius: 50%;
  position: absolute;
  z-index: -10;
  filter: blur(50px);
  width: 15vw;
  height: 15vw;
  background: #00D2D2;
}
.pricing .backgroundyellow-pr{
  width: 10vw;
  height: 10vw;
  left: 20%;
  top: 20%;
  background: #FFC444;
  position: absolute;
  z-index: -10;
  filter: blur(70px);
}
.pricing .backgroundpink-pr{
  top: 20%;
  background: #CFB4FF;
  width: 11vw;
  height: 11vw;
  position: absolute;
  z-index: -10;
  filter: blur(50px);
  right: 7%;
}
.pricing .backgroundbigyellow-pr{
  width: 16vw;
  height: 16vw;
  left: 65%;
  top: 35%;
  background-color: #FFDA1D;
  position: absolute;
  z-index: -10;
  filter: blur(70px);
  border-radius: 50%'
}
.pricing .home-contact .backgroundbigblue{
right: 5%;
}

@media (max-width: 1360px) {
  .pricing .pricing-cards {
    grid-template-columns: repeat(4, 1fr);
  }
    .pricing .switch-desc p{
      width: 75%;
    }
  }

@media (max-width: 1140px) {
  .pricing .pricing-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .pricing .switch-desc p{
    width: 80%;
  }
  .pricing .outstaffing__content {
    gap: 2rem;
  }
}

@media (min-width: 450px) {
  .pricing .pricing-switch .switch {
    height: 32px;
    min-width: 64px;
  }
  .pricing .pricing-switch .switch:before {
    width: 32px;
    height: 32px;
  }
  .pricing .pricing-switch .switch:checked:before {
    left: 32px;
  }
}
@media (max-width: 980px) {
  .main-menu #menu-item-1460 > a{
    background-color: unset;
  }
}
@media (max-width: 768px) {
  .pricing .pricing-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .pricing .offer-cards {
    gap: 5vw;
  }
  .pricing .switch-desc p{
    width: 90%;
  }
  .pricing .pricing-cards{
    padding-top: 4rem;
    gap: 3.5vh;
  }
  
}
@media (max-width: 560px) {
  .pricing .pricing-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-props::after{
    right: -15%;
  }
}
@media (min-width: 1050px) {
  .pricing .offer-cards {
    flex-direction: row;
  }
  .pricing table {
    margin-inline: auto;
    max-width: 80%;
  }
  .pricing table tr {
    border-bottom: 1px solid #444444;
  }
  .pricing table tr > th {
    padding-inline: 1rem;
  }
}

/*# sourceMappingURL=pricing.css.map */
.pricing-switcher-btn {
  background: #F2F2F2;
  color: #5A5A5A;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  transition: .4s ease-in-out;
  width: 206px;
  height: 55px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-transform: capitalize;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tablinks.pricing-switcher-btn.active {
  background: linear-gradient(90.44deg, #536DFE 0.5%, #005BBB 100.05%);
  color: #FFF;
  width: 191px;
  height: 63px;
}
  .pricing-switcher-btn:hover {
  background: linear-gradient(90.44deg, #FFDA1D 0.5%, #FFBA1B 100.05%);
  color: #000;
  transition: .3s ease-in-out;
  }


@keyframes opacityAnim {
from {opacity: 0.1; transform: scale(0.9);}
to {opacity: 1; transform: scale(1);}
}

.slick-dots li button::before, .slick-dots li button::after {
  color: transparent;
}
.slick-prev {
  left: 25px;
  cursor: pointer;
}
.slick-next {
  right: 25px;
  cursor: pointer;
}
.slick-prev::before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.75 1L0.75 11L10.75 21' stroke='%23C4C4C4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  width: 10px;
  height: 20px;
}

.slick-next::before{
  content: url("data:image/svg+xml,%3Csvg width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L11 11L1 21' stroke='%23C4C4C4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  width: 10px;
  height: 20px;
}

.slick-dots {
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 1rem;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
}
.pricing .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -20px;
}
.pricing .slick-prev, .pricing .slick-next{
  z-index: 1000;
}
.pricing .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 12px;
  height: 12px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: #C4C4C4;
  border-radius: 1rem;
  /* margin: 0.5rem; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pricing .slick-dots .slick-active button {
  width: 18px;
  height: 18px;
  background: #005BBB;
  /* margin-top: 0.35rem; */

}

.slick-dots {
  position: absolute;
  bottom: 1rem;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
}
.pricing .slick-dots li button::before {
  color: transparent;
}

.pricing-questions-wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 140px;
  
}

.form_container_wrapper, .form_container_wrapper .form_container .form_content {
  width: 488px;
  height: 634px;
}

.form_content {
  padding: 73px 64px 0;
}

.form_content .label-container > *:not(textarea) {
  height: 48px;
  margin: 0 0 47px;
}

.form_content textarea {
  height: 146px;
  margin: 0 0 33px;
}

@media (max-width: 1400px) {
  
  .slick-initialized.slick-slider.slick-dotted {
    padding-top: 2rem;
  }

  .slick-track {
    position: relative;
    /* left: 27%; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .outstaffing__card.slick-slide {
    width: 360px;
    height: 220px;
    margin: 0 10px;
  }
  
  .pricing .outstaffing__img {
    width: 60px;
    height: 60px;
  }
  
  .outstaffing__card.slick-current {
    width: 433px;
    height: 262px;
    justify-self: center;
    align-self: center;
  }

  .slick-slide .outstaffing__card-top {
    margin-bottom: 22px;
  }
  
  .slick-slide .outstaffing__text {
    font-size: 18px;
  }
  
  .slick-slide .outstaffing__description {
    font-size: 12px;
    width: 280px;
  }

  .slick-current .outstaffing__text {
    margin-bottom: 41px;
  }
  
  .slick-current .outstaffing__text {
    font-size: 21px;
  }

  .slick-current .outstaffing__description {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .subcat {
    display: flex;
    flex-direction: column;
    /* height: 150px; */
  }

  .pricing_main_title {
    margin-top: 45px;
  }

  .pricing .pricing-switch {
    margin-bottom: 30px;
  }

  .pricing-description {
    width: max-content;
    flex-direction: column;
  }

  .pricing-description-column:not(:last-child) {
    margin: 0 0 8px;
  }

  .pricing-description-column {
    width: max-content;
  }
}

@media (max-width: 660px) {
  .pricing_main_title {
    font-size: 38px;
    line-height: 120%;
    margin: 25px 0 15px;
  }

  .pricing_main_subtitle {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .pricing .pricing-switch {
    margin-bottom: 20px;
  }

  .pricing-switcher-btn {
    width: 105px;
    height: 25px;
    font-size: 12px;
    border-radius: 25px;
  }

  .tablinks.pricing-switcher-btn.active {
    width: 95px;
    height: 30px;
  }

  .pricing-switch-bg {
    width: 298px;
    height: 25px;
    border-radius: 25px;
    top: 3px;
    left: calc(50% - 298px / 2);
  }
}

@media (max-width: 576px) {
  .slick-track {
    left: 0;
  }

  .outstaffing__card.slick-current {
    border-radius: 14px;
    width: 340px;
    height: 207px;
    padding: 15px 37px 0;
  }

  .slick-slide .outstaffing__card-top {
    padding: 0 31px;
    margin-bottom: 0;
  }

  .slick-slide .outstaffing__text {
    font-size: 17px;
  }
  .slick-slide .outstaffing__description {
    text-align: center;
    font-size: 14px;
    width: 266px;
    overflow: hidden;
  }

  .slick-slide .outstaffing__img {
    width: 50px;
    height: 50px;
    margin-right: 21px;
  }
  
}

@media (max-width: 1240px) {
  .pricing-questions-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
